<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <style media="screen">
            table {
                border-collapse: collapse;
                width: 100%;
            }

            table, th, td {
                border: 1px solid black;
            }
            th{
                background-color: cyan;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <h1><%=title%></h1>
        <form id="frm" action="/admin/users/list" method="post">
            <input type="hidden" name="sortField" id="sortField" value="<%=sort.field%>">
            <input type="hidden" name="sortOrder" id="sortOrder" value="<%=sort.order%>">
            <select class="" name="role">
                <option value="">All</option>
                <option value="ADMIN">Admin</option>
                <option value="USER">User</option>
            </select>
            <input type="search" name="keyword" value="<%= search.keyword || '' %>">
            <input type="submit" value="Search">
        </form>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th data-sort="name">Name</th>
                    <th data-sort="email">Email</th>
                    <th data-sort="role">Role</th>
                    <th data-sort="updated">Udated</th>
                </tr>
            </thead>
            <tbody>
                <% if(users.length == 0) { %>
                    <td colspan="5">No Data Found!</td>
                <% } %>
                <% for(var i=0; i < users.length; i++) { %>
                    <tr>
                        <td><%=i+1%></td>
                        <td><a href="/admin/users/view/<%=users[i].uid%>"><%= users[i].name %></a></td>
                        <td><%= users[i].email %></td>
                        <td><%= users[i].role %></td>
                        <td><%= users[i].updated %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <a href="/admin/users/add">Add User</a>

    </body>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript">
    $(function () {
        $('th').click(function(){
            if(!$(this).data('sort')) return false;
            if( $('#sortField').val() == $(this).data('sort') ){
                $('#sortOrder').val( ($('#sortOrder').val() == 'ASC' )?'DESC':'ASC') ;
            }else{
                $('#sortOrder').val('ASC');
            }
            $('#sortField').val($(this).data('sort'));
            $('#frm').submit();
        })
        $('th[data-sort="<%=sort.field%>"]')
            .append(' <%= (sort.order == 'ASC')? '\u25B2': '\u25BC' %>');
        <%- (search.role) ? `frm.role.value = '${search.role}';` : '' %>
        <%- (messages.info) ? `alert('${messages.info}')`:'' %>
    });
    </script>
</html>
